---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout pageTitle="SetaHome">
	<Card>
		<p class="card-title">WHOOOOPS!</p>
		<p class="card-text">Page not found</p>
	</Card>
</BaseLayout>
