---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import AboutButton from "../components/AboutButton.astro";
---

<BaseLayout pageTitle="SetAbout">
  <Card>
    <p class="card-text">
      This website was made because I learned you can host a site using <a
        href="https://pages.github.com/"
        style={{ color: "#ffffff" }}>Github Pages</a
      >.
      <br />
      <i>Hope you enjoy browsing around!</i>
    </p>
    <br />
    <div style={{ width: "80%", height: "4px", background: "#fff" }}></div>
    <br />
    <p class="card-heading">You can yell at me at:</p>

    <center>
      <AboutButton
      name="Discord | setayoshi"
      url="https://discord.com/channels/@me"
      />
      
      <AboutButton 
      name="Telegram | @SetaYoshi" 
      url="https://t.me/SetaYoshi" 
      />
      
      <AboutButton
      name="Twitter | @Seta_Yoshi"
      url="https://twitter.com/Seta_Yoshi"
      />
      
      <AboutButton
      name="Github | SetaYoshi"
      url="https://github.com/SetaYoshi"
      />
      
      <AboutButton
      name="Youtube | @SetaYoshi"
      url="https://www.youtube.com/@SetaYoshi"
      />
      
      <AboutButton
      name="Twitch | SetaYoshi"
      url="https://www.twitch.tv/setayoshi"
      />
      
      <AboutButton
      name="Instagram | @Seta_Yoshi"
      url="https://www.instagram.com/seta_yoshi/"
      />
      
      <AboutButton
      name="Reddit | u/SetaYoshi"
      url="https://www.reddit.com/user/SetaYoshi"
      />
      
      <AboutButton
      name="TikTok | @setayoshi"
      url="https://www.tiktok.com/@setayoshi"
      />
      
      <AboutButton
      name="Snapchat | setayoshi"
      url="https://www.snapchat.com/add/setayoshi"
      />
      
      <AboutButton
      name="Tumblr | SetaYoshi"
      url="https://www.tumblr.com/setayoshi"
      />
      
      <AboutButton
      name="Facebook | Seta Yoshi"
      url="https://www.facebook.com/profile.php?id=100080014239409"
      />
      
      <AboutButton
      name="DeviantArt | SetaYoshi"
      url="https://www.deviantart.com/setayoshi"
      />
      
      <AboutButton
      name="LinkedIn | Seta Yoshi"
      url="https://www.linkedin.com/in/setayoshi/"
      />
      
      <AboutButton
      name="itch.io | setayoshi"
      url="https://itch.io/profile/setayoshi"
      />
      
      <AboutButton
      name="Chess.com | setayoshi"
      url="https://www.chess.com/member/setayoshi"
      />
      
      <AboutButton
      name="speedrun.com | SetaYoshi"
      url="https://www.speedrun.com/users/SetaYoshi"
      />
      
      <AboutButton name="Carrd | setayoshi" url="https://setayoshi.carrd.co/" />
      
      <AboutButton
      name="Steam | SetaYoshi (yoshi3201)"
      url="https://steamcommunity.com/id/SetaYoshi/"
      />
      
      <AboutButton
      name="Epic Games | SetaYoshi"
      url="https://store.epicgames.com/"
      />
      
      <AboutButton
      name="Pinterest | Seta Yoshi"
      url="https://www.pinterest.com/SetaYoshi/"
      />
      
      <AboutButton
      name="Imgur | SetaYoshi"
      url="https://imgur.com/user/SetaYoshi/posts"
      />
      
      <AboutButton
      name="Pornhub 🔞 | SetaYoshi"
      url="https://www.pornhub.com/users/setayoshi"
      />
      
      <AboutButton
      name="Onlyfans 🔞 | SetaYoshi"
      url="https://onlyfans.com/setayoshi"
      />
      
      <AboutButton
      name="Wordpress | setayoshi"
      url="https://setayoshi.wordpress.com/"
      />
      
      <AboutButton
      name="Quora | SetaYoshi"
      url="https://www.quora.com/profile/SetaYoshi"
      />
      
      <AboutButton
      name="Showdown | SetaYoshi"
      url="https://pokemonshowdown.com/users/setayoshi"
      />
      
      <AboutButton
      name="Roblox | @Setayoshi"
      url="https://www.roblox.com/users/4382229547/profile"
      />
      
      <AboutButton
      name="Wikipedia | User:SetaYoshi"
      url="https://en.wikipedia.org/wiki/User:SetaYoshi"
      />
      
      <AboutButton
      name="Fandom | User:SetaYoshi"
      url="https://community.fandom.com/wiki/User:SetaYoshi"
      />
      
      <AboutButton
      name="Pastebin | SetaYoshi"
      url="https://pastebin.com/u/SetaYoshi"
      />
      
      <AboutButton
      name="TruthSocial | @setayoshi"
      url="https://truthsocial.com/@SetaYoshi"
      />
      
      <AboutButton
      name="osu! | SetaYoshi"
      url="https://osu.ppy.sh/users/25152356"
      />
      
      <AboutButton
      name="start.gg | SetaYoshi"
      url="https://www.start.gg/user/042286cc"
      />

    </center>
  </Card>
</BaseLayout>
  