---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import Folder from "../components/Folder.astro";
import DSMLink from "../components/DSMLink.astro";
---
<style>
	.dsm-header {
		text-align: center;
		font-weight: bold;
	}
</style>

<BaseLayout pageTitle="SetaDiagnosticAndStatisticalManualOfMentalDisorders">
	<Card>
		<p class="card-title">DSM5-TR</p>
		<p class="card-text">Shorcut links to DSM5 (WIP!!!!!!!)</p>
	</Card>
	<Folder name="Neurodevelopmental Disorders">
		<p class="dsm-header">Intellectual Developmental Disorders</p>
		<DSMLink name="Intellectual Developmental Disorder (Intellectual Disability)" , page="100" , urlpage="123" />
		<DSMLink name="Global Developmental Delay" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Intellectual Developmental Disorder (Intellectual Disability)" , page="100" , urlpage="123" />
		<p class="dsm-header">Communication Disorders</p>
		<DSMLink name="Language Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Speech Sound Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Childhood-Onset Fluency Disorder (Stuttering)" , page="100" , urlpage="123" />
		<DSMLink name="Social (Pragmatic) Communication Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Communication Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Autism Spectrum Disorder</p>
		<DSMLink name="Autism Spectrum Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Attention-Deficit/Hyperactivity Disorder</p>
		<DSMLink name="Attention-Deficit/Hyperactivity Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Attention-Deficit/Hyperactivity Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Attention-Deficit/Hyperactivity Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Specific Learning Disorder</p>
		<DSMLink name="Specific Learning Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Motor Disorders</p>
		<DSMLink name="Developmental Coordination Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Stereotypic Movement Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Tic Disorders</p>
		<DSMLink name="Tourette's Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Persistent (Chronic) Motor or Vocal Tic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Provisional Tic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Tic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Tic Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Other Neurodevelopmental Disorders</p>
		<DSMLink name="Other Specified Neurodevelopmental Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Neurodevelopmental Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Schizophrenia Spectrum and Other Psychotic Disorders">
		<DSMLink name="Delusional Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Brief Psychotic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Schizophreniform Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Schizophrenia" , page="100" , urlpage="123" />
		<DSMLink name="Schizoaffective Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Psychotic Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Catatonia Associated With Another Mental Disorder (Catatonia Specifier)" , page="100" , urlpage="123" />
		<DSMLink name="Catatonic Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Catatonia" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Bipolar and Related Disorders">
		<DSMLink name="Bipolar I Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Bipolar II Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Cyclothymic disorder" , page="100" , urlpage="123" />
		<DSMLink name="Bipolar and Related Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Bipolar and Related Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Bipolar and Related Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Mood Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Depressive Disorders">
		<DSMLink name="Disruptive Mood Dysregulation Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Major Depressive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Persistent Depressive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Premenstrual Dysphoric Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Depressive Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Depressive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Depressive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Mood Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Anxiety Disorders">
		<DSMLink name="Separation Anxiety Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Selective Mutism" , page="100" , urlpage="123" />
		<DSMLink name="Specific Phobia" , page="100" , urlpage="123" />
		<DSMLink name="Social Anxiety Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Panic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Panic Attack Specifier" , page="100" , urlpage="123" />
		<DSMLink name="Agoraphobia" , page="100" , urlpage="123" />
		<DSMLink name="Generalized Anxiety Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Substance/Medication-Induced Anxiety Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Anxiety Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Anxiety Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Anxiety Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Obsessive-Compulsive and Related Disorders">
		<DSMLink name="Obsessive-Compulsive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Body Dysmorphic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Hoarding Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Trichotillomania (Hair-Pulling Disorder)" , page="100" , urlpage="123" />
		<DSMLink name="Excoriation (Skin-Picking) Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Obsessive-Compulsive and Related Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Obsessive-Compulsive and Related Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Obsessive-Compulsive and Related Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Trauma- and Stressor-Related Disorders">
		<DSMLink name="Reactive Attachment Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Disinhibited Social Engagement Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Posttraumatic Stress Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Acute Stress Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Adjustment Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Prolonged Grief Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Trauma- and Stressor-Related Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Trauma- and Stressor-Related Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Dissociative Disorders">
		<DSMLink name="Dissociative Identity Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Dissociative Amnesia" , page="100" , urlpage="123" />
		<DSMLink name="Depersonalization/Derealization Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Dissociative Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Dissociative Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Somatic Symptom and Related Disorders">
		<DSMLink name="Somatic Symptom Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Illness Anxiety Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Functional Neurological Symptom Disorder (Conversion Disorder)" , page="100" , urlpage="123" />
		<DSMLink name="Psychological Factors Affecting Other Medical Conditions" , page="100" , urlpage="123" />
		<DSMLink name="Factitious Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Somatic Symptom and Related Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Somatic Symptom and Related Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Feeding and Eating Disorders">
		<DSMLink name="Pica" , page="100" , urlpage="123" />
		<DSMLink name="Rumination Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Avoidant/Restrictive Food Intake Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Anorexia Nervosa" , page="100" , urlpage="123" />
		<DSMLink name="Bulimia Nervosa" , page="100" , urlpage="123" />
		<DSMLink name="Binge-Eating Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Feeding or Eating Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Feeding or Eating Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Elimination Disorders">
		<DSMLink name="Enuresis" , page="100" , urlpage="123" />
		<DSMLink name="Encopresis" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Elimination Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Elimination Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Sleep-Wake Disorders">
		<DSMLink name="Insomnia Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Hypersomnolence Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Narcolepsy" , page="100" , urlpage="123" />
		<p class="dsm-header">Breathing-Related Sleep Disorders</p>
		<DSMLink name="Obstructive Sleep Apnea Hypopnea" , page="100" , urlpage="123" />
		<DSMLink name="Central Sleep Apnea" , page="100" , urlpage="123" />
		<DSMLink name="Sleep-Related Hypoventilation" , page="100" , urlpage="123" />
		<br>
		<DSMLink name="Circadian Rhythm Sleep-Wake Disorders" , page="100" , urlpage="123" />
		<p class="dsm-header">Parasomnias</p>
		<DSMLink name="Non-Rapid Eye Movement Sleep Arousal Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Nightmare Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Rapid Eye Movement Sleep Behavior Disorder" , page="100" , urlpage="123" />
		<br>
		<DSMLink name="Substance/Medication-Induced Sleep Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Insomnia Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Insomnia Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Hypersomnolence Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Hypersomnolence Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Sleep-Wake Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Sleep-Wake Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Sexual Dysfunctions">
		<DSMLink name="Delayed Ejaculation" , page="100" , urlpage="123" />
		<DSMLink name="Erectile Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Female Orgasmic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Female Sexual Interest/Arousal Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Genito-Pelvic Pain/Penetration Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Male Hypoactive Sexual Desire Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Premature (Early) Ejaculation" , page="100" , urlpage="123" />
		<DSMLink name="Substance/Medication-Induced Sexual Dysfunction" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Sexual Dysfunction" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Sexual Dysfunction" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Gender Dysphoria">
		<DSMLink name="Gender Dysphoria" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Gender Dysphoria" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Gender Dysphoria" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Disruptive, Impulse-Control, and Conduct Disorders">
		<DSMLink name="Oppositional Defiant Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Intermittent Explosive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Conduct Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Antisocial Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Pyromania" , page="100" , urlpage="123" />
		<DSMLink name="Kleptomania" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Disruptive, Impulse-Control, and Conduct Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Disruptive, Impulse-Control, and Conduct Di" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Substance-Related and Addictive Disorders">
   	<p class="dsm-header">SUBSTANCE-RELATED DISORDERS</p>
		<p class="dsm-header">Alcohol Related Disorders</p>
		<DSMLink name="Substance-Related Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Alcohol Use Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Alcohol Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Alcohol Withdrawal" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Alcohol-Related Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Caffeine-Related Disorders</p>
		<DSMLink name="Caffeine Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Caffeine Withdrawal" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Caffeine-Related Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Cannabis-Related Disorders</p>
		<DSMLink name="Cannabis-Related Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Cannabis Use Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Cannabis Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Cannabis Withdrawal" , page="100" , urlpage="123" />
		<DSMLink name="Cannabis-Induced Mental Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Cannabis-Related Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Hallucinogen-Related Disorders</p>
		<DSMLink name="Phencyclidine Use Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Hallucinogen Use Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Phencyclidine Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Other Hallucinogen Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Hallucinogen Persisting Perception Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Hallucinogen-Induced Mental Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Phencyclidine-Related Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Hallucinogen-Related Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Inhalant-Related Disorders</p>
		<DSMLink name="Inhalant-Related Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Inhalant Use Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Inhalant Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Inhalant-Induced Mental Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Inhalant-Related Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Sedative-, Hypnotic-, or Anxiolytic-Related Disorders</p>
		<DSMLink name="Sedative, Hypnotic, or Anxiolytic Use Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Sedative, Hypnotic, or Anxiolytic Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Sedative, Hypnotic, or Anxiolytic Withdrawal" , page="100" , urlpage="123" />
		<DSMLink name="Sedative-, Hypnotic-, or Anxiolytic-Induced Mental Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Sedative-, Hypnotic-, or Anxiolytic-Related Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Stimulant-Related Disorders</p>
		<DSMLink name="Stimulant-Related Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Stimulant Use Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Stimulant Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Stimulant Withdrawal" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Stimulant-Related Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Other (or Unknown) Substance-Related Disorders</p>
		<DSMLink name="Other (or Unknown) Substance-Related Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Other (or Unknown) Substance Use Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other (or Unknown) Substance Intoxication" , page="100" , urlpage="123" />
		<DSMLink name="Other (or Unknown) Substance Withdrawal" , page="100" , urlpage="123" />
		<DSMLink name="Other (or Unknown) Substance-Induced Mental Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Other (or Unknown) Substance-Related Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">NON-SUBSTANCE-RELATED DISORDERS</p>
		<DSMLink name="Gambling Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Neurocognitive Disorders">
		<DSMLink name="Delirium" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Delirium" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Delirium" , page="100" , urlpage="123" />
		<p class="dsm-header">Major and Mild Neurocognitive Disorders</p>
		<DSMLink name="Major and Mild Neurocognitive Disorders" , page="100" , urlpage="123" />
		<DSMLink name="Mild Neurocognitive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder Due to Alzheimer's Disease" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Frontotemporal Neurocognitive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder With Lewy Bodies" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Vascular Neurocognitive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder Due to Traumatic Brain Injury" , page="100" , urlpage="123" />
		<DSMLink name="Substance/Medication-Induced Major or Mild Neurocognitive Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder Due to HIV Infection" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder Due to Prion Disease" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder Due to Parkinson's Disease" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder Due to Huntington's Disease" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Major or Mild Neurocognitive Disorder Due to Multiple Etiologies" , page="100" , urlpage="123" />
		<br>
		<DSMLink name="Unspecified Neurocognitive Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Personality Disorders">
		<p class="dsm-header">Cluster A Personality Disorders</p>
		<DSMLink name="Paranoid Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Schizoid Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Schizotypal Personality Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Cluster B Personality Disorders</p>
		<DSMLink name="Antisocial Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Borderline Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Histrionic Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Narcissistic Personality Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Cluster C Personality Disorders</p>
		<DSMLink name="Avoidant Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Dependent Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Obsessive-Compulsive Personality Disorder" , page="100" , urlpage="123" />
		<p class="dsm-header">Other Personality Disorders</p>
		<DSMLink name="Personality Change Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Personality Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Personality Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Paraphilic Disorders">
		<DSMLink name="Voyeuristic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Exhibitionistic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Frotteuristic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Sexual Masochism Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Sexual Sadism Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Pedophilic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Fetishistic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Transvestic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Paraphilic Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Paraphilic Disorder" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Other Mental Disorders and Additional Codes">
		<DSMLink name="Other Specified Mental Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Mental Disorder Due to Another Medical Condition" , page="100" , urlpage="123" />
		<DSMLink name="Other Specified Mental Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Unspecified Mental Disorder" , page="100" , urlpage="123" />
		<DSMLink name="No Diagnosis or Condition" , page="100" , urlpage="123" />
	</Folder>
	<Folder
		name="Medication-Induced Movement Disorders and Other Adverse Effects of Medication"
	>
		<DSMLink name="Medication-Induced Parkinsonism" , page="100" , urlpage="123" />
		<DSMLink name="Neuroleptic Malignant Syndrome" , page="100" , urlpage="123" />
		<DSMLink name="Medication-Induced Acute Dystonia" , page="100" , urlpage="123" />
		<DSMLink name="Medication-Induced Acute Akathisia" , page="100" , urlpage="123" />
		<DSMLink name="Tardive Dyskinesia" , page="100" , urlpage="123" />
		<DSMLink name="Tardive Dystonia" , page="100" , urlpage="123" />
		<DSMLink name="Tardive Akathisia" , page="100" , urlpage="123" />
		<DSMLink name="Medication-Induced Postural Tremor" , page="100" , urlpage="123" />
		<DSMLink name="Other Medication-Induced Movement Disorder" , page="100" , urlpage="123" />
		<DSMLink name="Antidepressant Discontinuation Syndrome" , page="100" , urlpage="123" />
		<DSMLink name="Other Adverse Effect of Medication" , page="100" , urlpage="123" />
	</Folder>
	<Folder name="Other Conditions That May Be a Focus of Clinical Attention">
		<DSMLink name="Suicidal Behavior and Nonsuicidal Self-Injury" , page="100" , urlpage="123" />
		<DSMLink name="Abuse and Neglect" , page="100" , urlpage="123" />
		<DSMLink name="Relational problems" , page="100" , urlpage="123" />
		<DSMLink name="Educational problems" , page="100" , urlpage="123" />
		<DSMLink name="Occupational problems" , page="100" , urlpage="123" />
		<DSMLink name="Housing problems" , page="100" , urlpage="123" />
		<DSMLink name="Economic problems" , page="100" , urlpage="123" />
		<DSMLink name="Problems related to the social environment" , page="100" , urlpage="123" />
		<DSMLink name="Problems related to interaction with the legal system" , page="100" , urlpage="123" />
		<DSMLink name="Problems related to other psychosocial, personal, and environmental circumstances" , page="100" , urlpage="123" />
		<DSMLink name="Problems related to access to medical and other health care" , page="100" , urlpage="123" />
		<DSMLink name="Circumstances of personal history" , page="100" , urlpage="123" />
		<DSMLink name="Other health service encounters for counseling and medical advice" , page="100" , urlpage="123" />
		<DSMLink name="Additional conditions or problems that may be a focus of clinical attention" , page="100" , urlpage="123" />
	</Folder>
</BaseLayout>
