---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout pageTitle="SetaHome">
	<Card>
			<p class="card-title">Welcome</p>
			<p class="card-text">Sample text. Click to select the Text Element.</p>
	</Card>
</BaseLayout>
