---
const { name, description, url, backgroundcolor, bordercolor } = Astro.props;
---

<style define:vars={{ backgroundcolor, bordercolor }}>
  .title {
    font-size: 24px;
    text-align: middle;
    vertical-align: top;
  }

  .description {
    font-size: 12px;
    text-align: left;
  }

  a {
    margin: 10px 10px;
    padding: 10px 10px 10px 10px;
    display: block;
    /* box-sizing: content-box;
    width: auto; */
    height: 160px;

    /* vertical-align: middle; */
    text-decoration: none;

    color: white;
    background-color: #00000080;

    border-width: 5px;
    border-color: var(--bordercolor);
    border-style: solid;
  }

  a:hover,
  a:focus {
    background-color: var(--backgroundcolor);
  }

  @media screen and (min-width: 877px) {
    .description {
      font-size: 16px;
    }
  }
</style>

<a href={url}>
  <p class="title">{name}</p>
  <p class="description">{description}</p>
</a>
