---
import "../styles/global.css";
---


<p class="menu">
    <!-- <center> -->
    <span>
      <a href="/" , class="seta">SETA</a>
      <a href="/" , class="yoshi">YOSHI</a>
    </span>
    <span>
      <a href="/" ,     class="menu-text">HOME</a>
      <a href="/about" , class="menu-text">ABOUT</a>
    </span>
  <!-- </center> -->
  </p>
  