---
import TabButton from "./TabButton.astro";
---

<center>

  <div id="main-menu">
    <TabButton name="SMBX38A", bordercolor="#6FEF00", backgroundcolor="#6FEF00B0", url="/smbx38a" />
    <TabButton name="SMBX2",   bordercolor="#DF1313", backgroundcolor="#DF1313B0", url="/smbx2" />
    <TabButton name="SOON™",   bordercolor="#000AFF", backgroundcolor="#000AFFB0", url="/secret" />
    <TabButton name="DSM",     bordercolor="#F88379", backgroundcolor="#F88379B0", url="/dsm" />
    <TabButton name="OTHER",   bordercolor="#8800FF", backgroundcolor="#8800FFB0", url="/other" />
  </div>
  
</center>